<table id="id01" border="2"></table>
<script>
var xmlhttp = new XMLHttpRequest();
var j=1;
var url = null;
var out = "";
var out1 = "";
var Count=0;
var data=[];
var printdata=[];

setInterval(function(){ 
xmlhttp.onreadystatechange = function() {
  debugger
url = "https://api.mongolab.com/api/1/databases/heroku_h7mxqs7l/collections/DetailsRaw?q={_id:"+j+"}&apiKey=PQHb5d2GY23LArULldWiac9PrKRgWqFS";

    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        myFunction(myArr);
       
    }
  

};
xmlhttp.open("GET", url, true);
xmlhttp.send();
  

 }, 500);


function myFunction(arr) {

   Count++;
   j++;
    var i;
    for(i = 0; i < arr.length; i++) {
      //  var t=i+1;
      out1 =   Count + "&nbsp&nbsp&nbsp &nbsp"+ arr[i].First_name + "&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp"+ arr[i].Last_name + "&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp"+ arr[i].County + "<br>";
       
        //data[Count-1]=out1;
        if(Count>20)
        {
            for(var a=0;a<Count;a++)
            {
            data[a]=data[a+1];
            }
            data[19]=out1;
            out="";
            for(var a=0;a<19;a++)
                out+=data[a];
            //
        }
        else
        {
             data[Count-1]=out1;
            out="";
            for(var a=0;a<Count;a++)
                out+=data[a];
        }
       
    }
    
    document.getElementById("id01").innerHTML = "ID &nbsp First Name &nbsp &nbsp Last Name &nbsp &nbsp  County <br>"+out;

}
</script>